section.right_section
    div.controls
        div 
            a(href="/post/write") write 
            a(href=`/post/update/${id}`) update
            form(action="/post/delete_process", method="post").delete_form
                input(type="hidden", name="id", value=`${id}`)
                button(type="submit").delete_button delete  
        a(href="/auth/login") login 
    div.description
        h1.title Description
        div.content
            h2.content_title #{id}
            div.content_desc #{desc}
              
        
 


